/*COLOR PALETTE: 
	-KULER monochromatic

	-light base color: BEF7E7
	-slightly darker color: 68DEBD
	-other slightly darker color: 50AB91
	-darkest color: 2C5E50
	-desaturated darkest color: 495E58

	-accent color: DE8368
	-darker accent color: 913F27

	-action color: 93F4F4
	-darker action color: 6DA7A7

	-grey: 1C1C1C;
*/

* { 	
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: #1C1C1C;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none !important;
	color: #1C1C1C !important;
}

.body {
	width: 100%;
	background-image: url("geometry2.png");
}

.availableSnippets {
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	background-color: #50AB91;
	margin-top: 20px;
	margin-bottom: 10px;
}

.addButton {
	background-color: #68DEBD;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 50px;
	height: 50px;
}

.addButton2 {
	background-color: #50AB91;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 50px;
	height: 50px;
}

.titleBar {
	background-color: #68DEBD;
	height: 100px;
	font-weight: bold;
}

.element {
	line-height: 100px;
	font-size: 30px;
}

.main {
	height: 100%;
}

.addedRow {
	background-color: #BEF7E7;
	margin-top: 5px;
	margin-bottom: 10px;
}

.input {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 50px;
	height: 50px;
}

.width {
	width: 100%;
}

.createPrompt {
	text-align: center;
	font-size: 50px;
	margin: 5px;
	font-weight: bold;
	margin-top: 20px;
}

.warningMessage {
	font-size: 20px;
}

.action {
	font-size: 20px;
	line-height: 50px;
	height: 50px;
	font-weight: bold;
}

.secondary {
	font-size: 20px;
	line-height: 50px;
}

.label1 {
	color: #495E58;
	font-weight: bold;
	display: inline-block;
}

.customized {
	color: #495E58;
	display: inline-block;
}

.button {
	background-color: #50AB91;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.button2 {
	background-color: #50AB91;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.scroll {
	overflow-y: scroll;
	height: 300px;
	background-color: white;
}

.placeholder {
	height: 10px;
	margin: 5px;
}

.subsetTitle {
	background-color: #68DEBD;
	height: 50px;
	line-height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 40px;
	color: #495E58;
}

.add {
	background-color: #50AB91;
	height: 50px;
	line-height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.remove {
	height: 50px;
	line-height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	background-color: #DE8368;
}

.dismiss {
	font-size: 20px;
	background-color: #DE8368;
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

.verticalCenter {
	height: 50px;
	line-height: 50px;
	margin-top: 25px;
}

.space {
	height: 100px;
}

.addSnippetButton {
	background-color: #50AB91;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
}

.adding {
	background-color: #68DEBD;
}

.addSnippetDialogue {
	height: 75px;
	line-height: 75px;
	font-size: 20px;
	background-color: #50AB91;
}

.nameSnippet {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #68DEBD;
	text-align: center;
}

.snippetTitle {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin-bottom: 10px;
	background-color: #50AB91;
}

.color{
	background-color: #50AB91;
}

.browser2 {
	background-color: #68DEBD;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.browser {
	background-color: #50AB91;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.prompt {
	font-size: 20px;
	margin: 20px;
	background-color: #BEF7E7;
}

.center {
	height: 50px;
	line-height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.center2 {
	margin-top: 10px;
	margin-bottom: 10px;
}