.titleBar {
	background-color: #CB817B;
	height: 100px;
}

.element {
	line-height: 100px;
	font-size: 30px;
}

.main {
	background-color: #CBB3B1;
	height: 100%;
}

.addedRow {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.input {
	height: 50px;
	padding: 10px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.createPrompt {
	text-align: center;
	font-size: 50px;
	margin: 10px;
	padding:10px;
}

.warningMessage {
	font-size: 20px;
	color: red;
}

.action {
	font-size: 30px;
	line-height: 50px;
	height: 50px;
	color: red;
}

.secondary {
	font-size: 20px;
	line-height: 50px;
}

.label1 {
	color: blue;
	font-weight: bold;
	display: inline-block;
}

.customized {
	color: blue;
	display: inline-block;
}

.margins {
	margin-left: 10px;
	margin-right: 10px;
}

.button {
	background-color: white;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	margin: 5px;
}

.scroll {
	overflow-y: scroll;
	height: 300px;
	background-color: white;
}

.placeholder {
	height: 10px;
	margin: 5px;
}

.subsetTitle {
	background-color: #F0E8E8;
	height: 50px;
	line-height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 40px;
	color: red;
}

.add {
	background-color: #F0CCE8;
	height: 50px;
	line-height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.remove {
	height: 50px;
	line-height: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 20px;
	background-color: #7FC8CF;
}

.dismiss {
	font-size: 20px;
	background-color: #7FC8CF;
}

.verticalCenter {
	height: 50px;
	line-height: 50px;
	margin-top: 25px;
}

.space {
	height: 100px;
}

.body {
	width: 100%;
}

.embeddedSite {
	width: 100%;
	height: 300px;
}

.addSnippetButton {
	background-color: #7FC8CF;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.adding {
	background-color: #B2F0D3;
}

.addSnippetDialogue {
	height: 75px;
	line-height: 75px;
	font-size: 20px;
}

.nameSnippet {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	background-color: #6CA8CF;
}

.snippetTitle {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin-bottom: 10px;
	padding-left: 5px;
	background-color: #B5D6D7;
}

.browser2 {
	background-color: #78CF80;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin: 5px;
	padding: 5px;
}

.browser {
	background-color: #538F58;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin: 5px;
	padding: 5px;
}

.prompt {
	font-size: 20px;
	margin: 20px;
	background-color: #8DCECF;
}

.center {
	height: 50px;
	line-height: 50px;
}