<!doctype html>
<html ng-app="cs194proj" ng-controller="MainController">
    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="static/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <script type="text/javascript" src="static/angular.js"></script>
        <script src="static/bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
        
        <!--Include the main controller (MainController) and stylesheet -->
        <script type="text/javascript" src="static/mainController.js"></script>
        <link rel="stylesheet" type="text/css" href="static/main.css" />
        <!-- add bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body class = "main">

        <div class = "titleBar row"> 
            <div class = "col-md-3 element"> Arsenic Webdriver </div>
            <div  class = "col-md-5 space"></div> 
            <div ng-if="loggedIn == false" class = "verticalCenter">
                <form action="/login" method="post"> 
                        <div class = "col-md-1"> 
                            <input type="text" name ="username">
                        </div>
                        <div class = "col-md-1"> 
                            <input type="text" name ="password">
                        </div>
                        <div class = "col-md-1"> 
                            <input type="submit" value="login">
                        </div>
                    </div>
                </form>
            </div>
            <div ng-if "loggedIn == true" class = "col-md-2 element"> user info </div> 
        </div>

        <div class = "createPrompt"> Create a script!!!! </div>
 
        <div ng-repeat="item in selectorList" data-drop="true" data-drag="true" ng-model="selectorList" jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback',}" jqyoui-draggable="{index: {{$index}}, insertInline: true, direction:'jqyouiDirection',animate: true, onStart: 'startCallback'}" data-jqyoui-options="{revert: 'invalid'}" data-direction="{{item.jqyouiDirection}}">
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "addedRow col-md-8">
                    <div class = "col-md-5 action"> {{item.action}} </div>
                    <div class = "col-md-5 secondary" ng-show = "item.selector != ''"> 
                        <div class = "label1"> Selector: </div>
                        <div class = "customized"> {{item.selector}} </div>
                    </div>
                    <div class = "col-md-5 secondary" ng-show = "item.url != ''"> 
                        <div class = "label1"> URL: </div>
                        <div class = "customized"> {{item.url}} </div>
                    </div>
                </div>
                <div class = "col-md-1 remove" ng-click = "remove($index)"> Remove </div>
                <div class = "col-md-2"></div> 
            </div>
        </div>

        <div class = "row" ng-show="show">
            <div class = "col-md-2"></div>

            <select name="cars" class = "col-md-2 input" ng-model = "listItem.action" ng-change = "selectedChanged()">
              <option value="navigate to url">navigate to</option>
              <option value="exists">check if exists</option>
              <option value="does not exist">check if doesn't exist</option>
              <option value="click">click on</option>
            </select>

            <div ng-show = "listItem.action != 'navigate to url'">
                <input class = "col-md-4 input margins" type="text" ng-model="listItem.selector" />
                <button class = "col-md-2 input" ng-click="add(listItem)">Add</button>
            </div>
            <div ng-show = "listItem.action == 'navigate to url'">
                <input class = "col-md-4 input margins" type="text" ng-model="listItem.url" />
                <button class = "col-md-2 input" ng-click="add(listItem)">Add</button>
            </div>

            <div class = "col-md-2"></div> 
        </div>

        <div class = "row">
            <div class = "col-md-2"></div>
            <div ng-show = "warningMessage != ''" class = "warningMessage col-md-6"> {{warningMessage}} </div>
            <div ng-show = "warningMessage != ''" class = "col-md-2 dismiss" ng-click = "dismiss()"> dismiss </div>
        </div>

        <div ng-show = "showSavedRows">
            <div ng-repeat = "item in savedRowsArray">
                <div class = "row">
                    <div class = "col-md-2"></div>    
                    <div class = "col-md-6 subsetTitle"> {{item.name}} </div>
                    <div class = "col-md-2 add" ng-click = "addSnippetToTest(item.name)"> add this snippet </div>   
                </div>
                <div ng-repeat = "jsonObject in item.values"> 
                    <div class = "row">
                        <div class = "col-md-2"></div>
                        <div class = "addedRow col-md-8">
                            <div class = "col-md-5"> {{jsonObject.action}} </div>
                            <div class = "col-md-5" ng-show = "jsonObject.selector != ''"> 
                                <div class = "label1"> Selector: </div>
                                <div class = "customized"> {{jsonObject.selector}} </div>
                            </div>
                            <div class = "col-md-5" ng-show = "jsonObject.url != ''"> 
                                <div class = "label1"> URL: </div>
                                <div class = "customized"> {{jsonObject.url}} </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>

            <div class = "row">
                <div class = "col-md-2"></div>  
                <div class = "col-md-8 addSnippetButton" ng-click = "addSnippetViewable = !addSnippetViewable"> add another snippet to your list </div>  
            </div>

            <!-- SNIPPET STUFF HERE -->
            <div ng-if="addSnippetViewable == true" class = "adding">

                <div class = "row" ng-if = "snippetNamed == false">
                    <div class = "col-md-2"></div>
                    <div class = "col-md-4 addSnippetDialogue">
                        What do you want to call this snippet? 
                    </div>
                    <input class = "col-md-2 input" type = "text"  ng-model="model.currentSnippetName"/>
                    <div class = "col-md-2 nameSnippet" ng-click = "nameSnippet()"> submit </div> 
                </div> 

                <div ng-if= "snippetNamed == true">
                    <div class = "row snippetTitle">
                        <div class = "col-md-2"></div>
                        <div class = "col-md-8"> Snippet name: {{tempSnippet.name}} </div>
                    </div>

                    <!-- THIS DISPLAYS THE CURRENT SNIPPET IN PROGRESS -->
                    <div ng-repeat="snippet in snippetInProgress" data-drop="true" data-drag="true" ng-model="snippetInProgress" jqyoui-droppable="{index: {{$index}},}" jqyoui-draggable="{index: {{$index}}, insertInline: true, direction:'jqyouiDirection',animate: true}" data-jqyoui-options="{revert: 'invalid'}" data-direction="{{item.jqyouiDirection}}">
                                <div class = "row">
                                    <div class = "col-md-2"></div>
                                    <div class = "addedRow col-md-8">
                                        <div class = "col-md-5 action"> {{snippet.action}} </div>
                                        <div class = "col-md-5 secondary" ng-show = "snippet.selector != ''"> 
                                            <div class = "label1"> Selector: </div>
                                            <div class = "customized"> {{snippet.selector}} </div>
                                        </div>
                                        <div class = "col-md-5 secondary" ng-show = "snippet.url != ''"> 
                                            <div class = "label1"> URL: </div>
                                            <div class = "customized"> {{snippet.url}} </div>
                                        </div>
                                    </div>
                                    <div class = "col-md-1 remove" ng-click = "removeSnippetRow($index)"> Remove </div>
                                    <div class = "col-md-2"></div> 
                                </div>
                    </div> 

    <!--                 THIS ADDS TO THE SNIPPET -->
                    <div class = "row">
                        <div class = "col-md-2"></div>

                        <select name="cars" class = "col-md-2 input" ng-model = "snippetItem.action" ng-change = "selectedChanged()">
                          <option value="navigate to url">navigate to</option>
                          <option value="exists">check if exists</option>
                          <option value="does not exist">check if doesn't exist</option>
                          <option value="click">click on</option>
                        </select>

                        <div ng-show = "snippetItem.action != 'navigate to url'">
                            <input class = "col-md-4 input margins" type="text" ng-model="snippetItem.selector" />
                            <button class = "col-md-2 input" ng-click="addToSnippet(snippetItem)">Add</button>
                        </div>

                        <div ng-show = "snippetItem.action == 'navigate to url'">
                            <input class = "col-md-4 input margins" type="text" ng-model="snippetItem.url" />
                            <button class = "col-md-2 input" ng-click="addToSnippet(snippetItem)">Add</button>
                        </div>

                        <div class = "col-md-2"></div> 
                    </div>

                    <div class = "row">
                        <div class = "col-md-4"></div>
                        <div class = "col-md-4 button" ng-click = "addToSnippetList()"> add to snippets! </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- BUTTON STUFF HERE -->
        <div class = "row">
            <div class = "col-md-2"></div>
            <div class = "col-md-2 button" ng-click="addAnotherRow()"> add another row </div>
            <div class = "col-md-2 button" ng-click="generate(); changeName()"> {{generateMessage}} </div>
            <div class = "col-md-2 button" ng-click="clear()"> start over </div>
            <div class = "col-md-2 button" ng-click="savedRows()"> add saved rows </div>
        </div>

        <div ng-show = "showScript"> 
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8 scroll"> <pre>{{generatedScript}}</pre> </div>
            </div>
        </div> 

        <div class = "placeholder"></div>

        <div class = "row" ng-show = "showScript">
            <div class = "col-md-2"></div>
            <a download="{{randomName}}" ng-href="{{url}}" class = "col-md-2 button"> download this script </a>
        </div>

    </body>
</html>