<!doctype html>
<html ng-app="cs194proj" ng-controller="MainController">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="static/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <script type="text/javascript" src="static/angular.js"></script>
        <script src="static/bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>

       <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
        
        <!--Include the main controller (MainController) and stylesheet -->
        <script type="text/javascript" src="static/mainController.js"></script>
        <link rel="stylesheet" type="text/css" href="static/main.css" />
        <!-- add bootstrap -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    {% raw %}
    <!-- Because Angular and Flask both use "{{}}" to delimit special varibales, -->
    <!-- we've changed the default Angular delimiter from "{{}}" to "[[]]" -->
    {% endraw %}
    
    <body class = "main">

        <div ng-if = "warningMessage != ''" class="alert bottomLeft2 animate-if" > 
            <strong> Error! </strong>
            [[warningMessage]]
            <div ng-click = "dismiss()" class = "inline">   &nbsp; x </div>
        </div>

        <div ng-if = "warningMessage2 != ''" class="alert bottomLeft2 animate-if" > 
            <strong> Error! </strong>
            [[warningMessage2]]
            <div ng-click = "dismiss2()" class = "inline">  &nbsp; x </div>
        </div>

        <div ng-if = "showAlert" class="alert bottomLeft animate-if" > 
            <strong> Success! </strong>
            Snippet added to test. 
            <div ng-click = "showAlert = false" class = "inline">   &nbsp; x </div>
        </div>

        <div ng-if = "showAlert2" class="alert bottomLeft animate-if" > 
            <strong> Success! </strong>
            Snippet added to snippet list. 
            <div ng-click = "showAlert2 = false" class = "inline">   &nbsp; x </div>
        </div>

        <div class = "titleBar row"> 
            <div class = "col-md-3 element"> 
                <img src="http://i1182.photobucket.com/albums/x453/ewellk/Arsenic_Webdriver_3_zpsd8ynaczz.png" style = "height: 125px; ">
            </div>
            <div class = "col-md-3 space"></div> 

	    {% if current_user.is_authenticated %}
            <div class = "col-md-1 space"></div> 
            <div class = "col-md-2 element" style="text-align: center;">Hi {{ current_user.username }}!</div>
	    <div class="verticalCenter col-md-1">
		<a href="/logout">
		    <div class="button">logout</div>
		</a>
	    </div>
	    {% else %}
            <div class="verticalCenter col-md-2">
                <div class="button" ng-click="loginDialogueVisible = !loginDialogueVisible; registerDialogueVisible = false">log in</div>
            </div>
            <div class = "verticalCenter col-md-2"> 
                <div class="button" ng-click="registerDialogueVisible = !registerDialogueVisible; loginDialogueVisible = false">register</div>
            </div> 
	    {% endif %}

        </div>

        <div ng-if ="loginDialogueVisible == true" class = "registerDialogue"> 
	    <form action="/login" method="post" id="loginForm">
		<div class = "row">
                    <div class = "col-md-3"></div>
                    <div class = "col-md-1 registerRow">
			<div> username: </div>
                    </div>
                    <div class = "col-md-2">
			<div> <input class = "input form-control" type = "text" name="username"></input> </div>
                    </div>
                    <div class = "col-md-1 registerRow">
			<div> password: </div>
                    </div>
                    <div class = "col-md-2">
			<div> <input class = "input form-control" type = "password" name="password"></input> </div>
                    </div>
		</div>
		<div class = "row">
                    <div class = "col-md-4"></div>
                    <div class = "col-md-4">
			<div class = "button" type="submit" onClick="javascript:document.getElementById('loginForm').submit();"> login </div>
                    </div>
		</div>
	    </form>
        </div>

        <div ng-if="registerDialogueVisible == true" class = "registerDialogue"> 
	    <form action="/register" method="post" id="registerForm">
		<div class = "row">
                    <div class = "col-md-1"></div>
                    <div class = "col-md-1 registerRow">
			<div> username: </div>
                    </div>
                    <div class = "col-md-2">
			<div> <input class = "input form-control" type = "text" name="username"></input> </div>
                    </div>
                    <div class = "col-md-1 registerRow">
			<div> password: </div>
                    </div>
                    <div class = "col-md-2">
			<div> <input class = "input form-control" type = "password" name="password"></input> </div>
                    </div>
                    <div class = "col-md-2 registerRow">
			<div> repeat password: </div>
                    </div>
                    <div class = "col-md-2">
			<div> <input class = "input form-control" type = "password" name="confirmpassword"></input> </div>
                    </div>
		</div>
		<div class = "row">
                    <div class = "col-md-4"></div>
                    <div class = "col-md-4">
			<div class = "button" type="submit" onClick="javascript:document.getElementById('registerForm').submit();"> create account </div>
                    </div>
		</div>
	    </form>
        </div>

        <div ng-if = "FAQShown" class = "FAQ">
            <div class = "row textAlign"> 
                <div class = "col-md-2"></div>
                <div class = "col-md-8 textAlign">
                    Welcome to Arsenic Webdriver! 
                </div>
            </div>

            <div class = "row textAlign2"> 
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    What does Arsenic Webdriver do? 
                </div>
            </div>

            <div class = "row"> 
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    Arsenic Webdriver is an easy-to-use tool that allows you to easily generate python scripts to user-test your websites! These scripts run using Selenium Webdriver (more info here: http://www.seleniumhq.org/projects/webdriver/) and can be run any way you see fit. You can add individual rows to your tests, as well as defining snippets of rows to be inserted in your tests as you see fit. No engineering experience necessary! When you're done, you can generate and download your scripts using the buttons at the bottom of the page. 
                </div>
            </div>

            <div class = "row textAlign2"> 
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    I'm a beginner. What do you mean by "selector"? 
                </div>
            </div>

            <div class = "row"> 
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    Every webpage is made up of individual blocks known as "HTML elements." Each of these blocks has a "selector" assigned to it that allows you to identify it. If you go onto the webpage you would like to test and press "Shift + Command + C", the "developer console" will pop up on your browser. One of the tabs of this console will be the "Elements" tab. If you navigate to this tab, you will be able to click on elements of your website and see the part of your code that defines the elements you've clicked on be highlighted in the console. If you right click on the highlighted text, you will see a "copy" option. In the drop-down "copy" list, choose "copy selector" and then paste that into Arsenic Webdriver's text boxes to test it in any way you see fit! 
                </div>
            </div>

            <div class = "row textAlign2"> 
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    What else do I need to do to use these tests? 
                </div>
            </div>

            <div class = "row"> 
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    To run these tests, you will need to have python installed on your computer. In addition, you will need to download the webdrivers you need (Safari, Chrome, Firefox) and define your $PATH variables accordingly. 
                </div>
            </div>

            <div class = "row textAlign2"> 
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    Happy testing! 
                </div>
            </div>
        </div>

        <div class = "row FAQ">
            <div class = "col-md-4"> </div>
            <div class = "col-md-4" style="margin-top: 10px;">
                <div class = "button" ng-click = "FAQChange();"> [[FAQMessage]] </div> 
            </div>
        </div>

	{% for message in get_flashed_messages() %}
	<div id="flashed" class="alert bottomLeft2 animate-if" onClick="javascript:document.getElementById('flashed').setAttribute('style', 'display: none');">{{ message }}</div>
	{% endfor %}
	
        <div class = "createPrompt"> Create a script! </div>

        <div class = "row prompt"> 
            <div class = "col-md-2"></div>
            <div class = "col-md-2 center2"> What browsers would you like to test on? </div>
            <div class = "col-md-2" ng-click = "firefoxSelected = !firefoxSelected">
                <div ng-class = "{browser: firefoxSelected, browser2: !firefoxSelected}"> Firefox </div> 
            </div>
            <div class = "col-md-2" ng-click = "chromeSelected = !chromeSelected"> 
                <div ng-class = "{browser: chromeSelected, browser2: !chromeSelected}"> Chrome </div> 
            </div>
            <div class = "col-md-2 " ng-click = "safariSelected = !safariSelected"> 
                <div ng-class = " {browser: safariSelected, browser2: !safariSelected}"> Safari </div> 
            </div>
        </div>

        <div class = "row prompt"> 
            <div class = "col-md-2"></div>
            <div class = "col-md-2 center"> Screen sizes? </div>

            <div class = "col-md-2" ng-click = "maximizeSelected = !maximizeSelected">
                <div ng-class = "{browser: maximizeSelected, browser2: !maximizeSelected}"> Max Screen Size </div> 
            </div>
            <div class = "col-md-2" ng-click = "mobileSizeSelected = !mobileSizeSelected"> 
                <div ng-class = "{browser: mobileSizeSelected, browser2: !mobileSizeSelected}"> Mobile (414x736) </div> 
            </div>
            <div class = "col-md-2 " ng-click = "tabletSizeSelected = !tabletSizeSelected"> 
                <div ng-class = " {browser: tabletSizeSelected, browser2: !tabletSizeSelected}"> Tablet (768x1024) </div>
            </div>
            <!-- <div class = "col-md-2 " ng-click = "customSizeSelected = !customSizeSelected"> 
                 <div ng-class = " {browser: customSizeSelected, browser2: !customSizeSelected}"> Custom </div>
		 </div> -->
        </div>

        <div style = "height: 5px"></div>

        <div class = "sizes">
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-2 center2"> Or define your own screen sizes: </div>
                <div class = "col-md-2 center"> 
                    <input class = "input form-control" type="text" placeholder = "enter width" ng-model="screenSize.width" />
                </div> 
                <div class = "col-md-2 center"> 
                    <input class = "input form-control" type="text" placeholder = "enter height" ng-model="screenSize.height" />
                </div>
                 <div class = "col-md-2"> <div class = "addButton" ng-click="addScreenSize(screenSize); screenSize = null;">Add</div> </div>
            </div>

            <div ng-repeat="size in additionalSizes">
                <div class = "row prompt">
                    <div class = "col-md-4"></div>
                    <div class = "col-md-2 size">
                        <strong> Width: </strong> [[size.width]]
                    </div>
                    <div class = "col-md-2 size">
                        <strong> Height: </strong> [[size.height]]
                    </div>
                    <div class = "col-md-1 remove" ng-click = "removeSize($index)"> Remove </div>
                </div>
            </div>

            <div ng-if = "(additionalSizes.length != 0)" style = "height: 10px"></div>
        </div>

        <!-- <div ng-if = "customSizeSelected" class = "row prompt inverted">
	     <div class ="col-md-6"></div>
	     <div class="col-md-1 center">
	     <input type="text" placeholder="width"></input>
	     </div>
	     <div class="col-md-1 center">
	     <input type="text" placeholder="height"></input>
	     </div>
	     <div class="col-md-1 browser">Save</div>
	     </div> -->
	
        <!-- need to set listItem.action = "navigate to url" -->
        <div ng-if = "selectorList.length == 0" class = "form-group row prompt"> 
	    <div class = "col-md-2"></div>
            <div class = "col-md-4 center"> What website would you like to test? </div>
	    
            <div class = "col-md-2 center"> <input placeholder = "enter URL" class = "input form-control" type="text" ng-model="listItem.url"/></div>
            <div class = "col-md-2"> <div class = "addButton" ng-click="listItem.action = 'navigate to url'; add(listItem)">Add</div> </div>
        </div>

        <div style = "height: 15px"></div>

        <div ng-repeat="item in selectorList" data-drop="true" data-drag="true" ng-model="selectorList" jqyoui-droppable="{index: [[$index]], onDrop:'dropCallback',}" jqyoui-draggable="{index: [[$index]], insertInline: true, direction:'jqyouiDirection',animate: true, onStart: 'startCallback'}" data-jqyoui-options="{revert: 'invalid'}" data-direction="[[item.jqyouiDirection]]">
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "addedRow col-md-8">
                    <div class = "col-md-3 action"> [[item.action]] </div>
                    <div class = "col-md-4 secondary" ng-show = "item.selector != ''"> 
                        <div class = "label1"> Selector: </div>
                        <div class = "customized"> [[item.selector | limitTo: 20]][[item.selector.length > 20 ? '...' : '']] </div>
                    </div>
                    <div class = "col-md-4 secondary" ng-show = "item.url != ''"> 
                        <div class = "label1"> URL: </div>
                        <div class = "customized"> [[item.url]] </div>
                    </div>
                    <div class = "col-md-1"></div>
                    <div class = "col-md-4 secondary" ng-show = "item.text != undefined && item.text != ''"> 
                        <div class = "label1"> Text: </div>
                        <div class = "customized"> [[item.text | limitTo: 20]][[item.text.length > 20 ? '...' : '']] </div>
                    </div>
                </div>
                <div class = "col-md-1 remove" ng-click = "remove($index)"> Remove </div>
                <div class = "col-md-2"></div> 
            </div>
        </div>

        <div class = "row" ng-show="show">
            <div class = "col-md-2"></div>

            <div class = "col-md-2">
            <select name="actions" class = "input selectpicker width" ng-model = "listItem.action" ng-change = "selectedChanged()">
              <option value="navigate to url">navigate to</option>
              <option value="exists">check if exists</option>
              <option value="does not exist">check if doesn't exist</option>
              <option value="click">click on</option>
              <option value="enter text">enter text in box</option>
	      <option value="wait">wait</option>
            </select>
            </div>

            <!-- EDIT HERE!! -->
            <div ng-show = "listItem.action != 'navigate to url' && listItem.action != 'enter text' && listItem.action != 'wait' ">
                <div class = "col-md-4 center"> 
                    <input class = "input form-control" type="text" placeholder = "enter selector" ng-model="listItem.selector" /> 
                </div> 
            </div>
            <div ng-show = "listItem.action == 'enter text' ">
                <div class = "col-md-2 center"> 
                    <input class = "input form-control" type="text" placeholder = "enter selector" ng-model="listItem.selector" />
                </div> 
                <div class = "col-md-2 center"> 
                    <input class = "input form-control" type="text" placeholder = "enter text" ng-model="listItem.text" />
                </div>
            </div>
            <div ng-show = "listItem.action == 'navigate to url'">
                <div class = "col-md-4 center"> 
                    <input class = "input form-control" type="text" placeholder = "enter URL" ng-model="listItem.url" />
                </div>
            </div>
	    <div ng-show="listItem.action == 'wait'">
		<div class="col-md-4 center">
		    <input class="input form-control" type="text" placeholder="time in seconds (5, 0.1, etc)" ng-model="listItem.seconds" />
		</div>
	    </div>
            <div class = "col-md-2"> <div class = "addButton" ng-click="add(listItem)">Add</div> </div>
            <div class = "col-md-2"></div> 
        </div>

        <div ng-show = "showSavedRows">
            <div class = "availableSnippets"> snippets available to add </div> 

            <div ng-repeat = "item in savedRowsArray" data-drop="true" data-drag="true" ng-model="savedRowsArray" jqyoui-droppable="{index: [[$index]]}" jqyoui-draggable="{index: [[$index]], insertInline: true, direction:'jqyouiDirection',animate: true}" data-jqyoui-options="{revert: 'invalid'}" data-direction="[[item.jqyouiDirection]]">
                <div class = "row">
                    <div class = "col-md-2"></div>
                    <div class = "col-md-6 subsetTitle"> [[item.name]] </div>
                    <div class = "col-md-2 add" ng-click = "addSnippetToTest(item.name)"> 
                        <div style="text-align: center; font-size: 20px"> Add </div>
                    </div>
                    <div class = "col-md-1 remove" ng-click = "removeSnippet($index)"> Remove </div>   
                </div>
                <div ng-repeat = "jsonObject in item.values"> 
                    <div class = "row">
                        <div class = "col-md-2"></div>
                        <div class = "addedRow col-md-8">
                            <div class = "col-md-3"> [[jsonObject.action]] </div>
                            <div class = "col-md-4" ng-show = "jsonObject.selector != ''"> 
                                <div class = "label1"> Selector: </div>
                                <div class = "customized"> [[jsonObject.selector]] </div>
                            </div>
                            <div class = "col-md-4" ng-show = "jsonObject.url != ''"> 
                                <div class = "label1"> URL: </div>
                                <div class = "customized"> [[jsonObject.url]] </div>
                            </div>
                            <div class = "col-md-1"></div>
                            <div class = "col-md-4" ng-show = "jsonObject.text != '' && jsonObject.text != undefined"> 
                                <div class = "label1"> Text: </div>
                                <div class = "customized"> [[jsonObject.text]] </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>

            <div class = "row">
                <div class = "col-md-2"></div>  
                <div class = "col-md-8 addSnippetButton" ng-click = "addSnippetViewable = !addSnippetViewable"> add another snippet to your list </div>  
            </div>

            <!-- SNIPPET STUFF HERE -->
            <div ng-if="addSnippetViewable == true" class = "adding" >
                <div class = "row color" style = "margin-bottom: 10px !important;">

                    <div ng-if = "snippetBeingNamed == true">
                        <div class = "col-md-2"></div>
                        <div class = "col-md-4 addSnippetDialogue">
                            What do you want to call this snippet? 
                        </div>
                        <div class = "col-md-2 addSnippetDialogue" style = "height: 100%; padding: 10px"> 
                            <input class = "input form-control" type = "text"  ng-model="model.currentSnippetName"/>
                        </div>
                    </div>

                    <div ng-if = "snippetBeingNamed == false"> 
                        <div class = "col-md-2 addSnippetDialogue"></div>
                        <div class = "col-md-4 addSnippetDialogue"> <strong> Snippet name: </strong> [[tempSnippet.name]] </div>
                        <div class = "col-md-2 addSnippetDialogue"></div>
                    </div>

                    <!-- <div class = "col-md-2" ng-click = "nameSnippet()">  -->
                    <div class = "col-md-2 addSnippetDialogue" ng-click = "nameSnippet()">
                        <div class = "nameSnippet"> [[snippetNameMessage]] </div> 
                    </div> 
                </div> 


                <div ng-if= "snippetNamed == true">
                    <div ng-repeat="snippet in snippetInProgress" data-drop="true" data-drag="true" ng-model="snippetInProgress" jqyoui-droppable="{index: [[$index]],}" jqyoui-draggable="{index: [[$index]], insertInline: true, direction:'jqyouiDirection',animate: true}" data-jqyoui-options="{revert: 'invalid'}" data-direction="[[item.jqyouiDirection]]">
                        <div class = "row">
                            <div class = "col-md-2"></div>
                            <div class = "addedRow col-md-8">
                                <div class = "col-md-3 action"> [[snippet.action]] </div>
                                <div class = "col-md-4 secondary" ng-show = "snippet.selector != ''"> 
                                    <div class = "label1"> Selector: </div>
                                    <div class = "customized"> [[snippet.selector]] </div>
                                </div>
                                <div class = "col-md-4 secondary" ng-show = "snippet.url != ''"> 
                                    <div class = "label1"> URL: </div>
                                    <div class = "customized"> [[snippet.url]] </div>
                                </div>
                                <div class = "col-md-1"></div>
                                <div class = "col-md-4 secondary" ng-show = "snippet.text != ''"> 
                                    <div class = "label1"> Text: </div>
                                    <div class = "customized"> [[snippet.text]] </div>
                                </div>
                            </div>
                            <div class = "col-md-1 remove" ng-click = "removeSnippetRow($index)"> Remove </div>
                            <div class = "col-md-2"></div> 
                        </div>
                    </div> 

    <!--                 THIS ADDS TO THE SNIPPET -->
                    <div class = "row">
                        <div class = "col-md-2"></div>

                        <div class = "col-md-2">
                        <select name="cars" class = "input selectpicker width" ng-model = "snippetItem.action" ng-change = "selectedChanged()">
                          <option value="navigate to url">navigate to</option>
                          <option value="exists">check if exists</option>
                          <option value="does not exist">check if doesn't exist</option>
                          <option value="click">click on</option>
                          <option value="enter text">enter text in box</option>
			  <option value="wait">wait</option>
                        </select>
                        </div>

                        <div ng-show = "snippetItem.action != 'navigate to url' && snippetItem.action != 'wait' && snippetItem.action != 'enter text' ">
                            <div class = "col-md-4 center"> 
                                <input class = "input form-control" type="text" placeholder = "enter selector" ng-model="snippetItem.selector" />
                            </div> 
                        </div>
                        <div ng-show = "snippetItem.action == 'enter text' ">
                            <div class = "col-md-2 center"> 
                                <input class = "input form-control" type="text" placeholder = "enter selector" ng-model="snippetItem.selector" />
                            </div> 
                            <div class = "col-md-2 center"> 
                                <input class = "input form-control" type="text" placeholder = "enter text" ng-model="snippetItem.text" />
                            </div>
                        </div>
                        <div ng-show = "snippetItem.action == 'navigate to url'">
                            <div class = "col-md-4 center"> 
                                <input class = "input form-control" type="text" placeholder = "enter URL" ng-model="snippetItem.url" />
                            </div>
                        </div>
			<div ng-show="listItem.action == 'wait'">
			    <div class="col-md-4 center">
				<input class="input form-control" type="text" placeholder="time in seconds (5, 0.1, etc)" ng-model="snippetItem.seconds" />
			    </div>
			</div>
                        <div class = "col-md-2"> <div class = "addButton2" ng-click="addToSnippet(snippetItem)"> Add </div> </div>
                    </div>

                    <div class = "row">
                        <div class = "col-md-4"></div>
                        <div class = "col-md-4 button" ng-click = "addToSnippetList()"> add to snippets! </div>
                    </div>

                </div>
            </div>
        </div>

        <div style = "height: 10px" ng-if = "selectorList.length == 0"></div>
        <div style = "height: 20px" ng-if = "selectorList.length != 0"></div>
        <!-- BUTTON STUFF HERE -->
        <div class = "row last-button-row">
            <div class = "col-md-2"></div>
            <div class = "col-md-2" ng-click="addAnotherRow()"> 
                <div class = "button"> add another row </div> 
            </div>
            <div class = "col-md-2" ng-click="generate(); changeName()"> 
                <div class = "button"> [[generateMessage]] </div> 
            </div>
            <div class = "col-md-2" ng-click="clear(); screenSize = null"> 
                <div class = "button"> start over </div> 
            </div>
            <div class = "col-md-2" ng-click="savedRows()"> 
                <div class = "button"> [[snippetMessage]] </div> 
            </div>
        </div>

        <div ng-show = "showScript"> 
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8 scroll"> <pre>[[generatedScript]]</pre> </div>
            </div>
        </div> 

        <div class = "row" ng-show = "showScript">
            <div class = "col-md-4"></div>
            <a download="[[randomName]]" ng-href="[[url]]" class = "col-md-4 button2"> download this script </a>
        </div>

    </body>
</html>